body {
	font-size: small; /* 新的属性值，请自行了解 */
	font-family: Verdana， Helvetica， Arial;
  line-height: 1.6em;
}

h1, h2 {
	color: #007e7e; /* 将标题设置为一种青绿色，使他和 logo 更相合 */
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}
.guarantee {
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding: 25px;
  margin: 30px;
  color: #444;
  font-family: georgia,"Times New Roman";
  font-style: italic;
  line-height: 1.9em;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 25px;
  padding-left: 80px;
  margin-right: 250px;
  border-radius:0em 2em;
}
.elixirs {
	border-width: thin;
	border-style: solid;
	border-color: #007e7e;
	padding:0px 20px;
	margin-left:     20px;
  background-image:    url(images/cocktail.gif);
	background-repeat:   repeat-x;
	text-align:          center; 
  line-height: 1em;
  width: 280px;
  float: right;
}

h1, h2 {
  color: #007e7e;
}


h2 {
  color: black;
}


div>h2 {
  color: black;
}
div>h3{
color: red;
}
.cd {
	font-style: italic;
}

.artist {
	font-weight: bold;
}
.elixirs a:link {
  color: #007e7e;
}
.elixirs a:visited {
  color: #333333;
}
.elixirs a:hover {
  background: #f88397;
  color: #0d5353;
}
